<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        #addbookform{
            box-shadow: 1px 1px 8px #215;
            border-radius: 10px;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="box-shadow: 1px 2px 3px #66b;border-radius: 2px">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="font-size: 18px;">
                    友情链接 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="font-size: 18px">
                    <li><a href="http://e.dangdang.com/">当当云阅读</a></li>
                    <li><a href="https://yuedu.163.com/">网易云阅读</a></li>
                    <li><a href="http://epubjs.org/documentation/0.3/#epubjs">epub.js API</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://www.wangeditor.com/">wangEditor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills" style="margin-top: 2px;margin-bottom: 2px">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/allposts.html">读书笔记</a></li>
                <li role="presentation"  class="active"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>

    <form id="addbookform" class="form-horizontal" action="/epubBook/addbook"
          method="post" enctype="multipart/form-data" style="margin-top: 20px;">
        <div class="form-group">
            <label class="col-md-1 control-label">ISBN</label>
            <div class="col-md-10">
                <input type="text" name="bookid" class="form-control"
                       id="bookid"> <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">书名</label>
            <div class="col-md-10">
                <input type="text" name="bookname" class="form-control"
                       id="bookname"> <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">作者</label>
            <div class="col-md-10">
                <input type="text" name="author" class="form-control"
                       id="author"> <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">简述</label>
            <div class="col-md-10">
                <input type="text" name="description" class="form-control"
                       id="description"> <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group" id="booktype">
            <label class="col-md-1 control-label">类别</label>
            <div class="col-md-10">
                <select class="form-control" name="booktypeid"
                        style="font-size: 16px;">
                </select>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">图片</label>
            <div class="col-md-10">
                <input type="file" name="imgfile" class="form-control" id="imgfile">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">书籍</label>
            <div class="col-md-10">
                <input type="file" name="bookfile" class="form-control" id="bookfile">
                <span class="help-block"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">选择</label>
            <div class="col-md-10">
                <button type="button" class="btn btn btn-warning" id="cancelbtn">取消</button>
                <button type="submit" class="btn btn btn-success" style="margin-left: 20px">提交</button>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(function(){
        getTypes("#booktype select");
        var cancelbtn = document.getElementById("cancelbtn");
        cancelbtn.addEventListener("click", function () {
            window.location.href = "/epubBook/views/mydomain.html";
        }, false);
    });
    function getTypes(ele) {
        $(ele).empty();
        $.ajax({
            url : "/epubBook/getbooktype",
            type : "GET",
            success : function(result) {
                $.each(result.extend.types, function() {
                    var optionEle = $("<option></option>").append(
                        this.typename).attr("value", this.typeid);
                    optionEle.appendTo(ele);
                });
            }
        });
    }
</script>
</body>
</html>