<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/epubBook/static/md5.js"></script>
    <style type="text/css">
        .delete_btn{
            margin-left: 10px;
        }
    </style>
</head>

<body>
<!-- 管理员添加的模态框 -->
<div class="modal fade" id="managerAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">管理员添加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">username</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" id="username"
                                   placeholder="username"> <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="password"><span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submitmanager">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="background: #c1e2b3">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/allposts.html">读书笔记</a></li>
                <li role="presentation" class="active"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>
    <hr style="margin: 2px;"/>
    <div class="row">
        <p style="font-size: large">人员管理</p>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-hover" id="manager_table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>管理员账号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <button id="addmanager" class="btn btn-default">添加管理员</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="page_nav_area"></div>
        <div class="col-md-6" id="page_info_area"
             style="padding: 20px; font-size: 18px;"></div>
    </div>


</div>
<script type="text/javascript">
    var totalRecord;
    var currentPage;
    $(function () {
        to_page(1);
        var addmanager = document.getElementById("addmanager");
        addmanager.addEventListener("click",function () {
            reset_form("#managerAddModal form");
            $("#managerAddModal").modal({
                backdrop: "static"
            });
        },false);
        var submitmanager = document.getElementById("submitmanager");
        submitmanager.addEventListener("click",function () {
            var username = $("#username").val();
            var password = $("#password").val();
            var encp = hex_md5(password);
            $.ajax({
                url: "/epubBook/addmanager",
                data: "username=" + username+"&password="+encp,
                type: "POST",
                success: function (result) {
                    $("#managerAddModal").modal('hide');
                    if (result.code==200){
                        alert(result.extend.wrong);
                    }
                    else {
                        to_page(currentPage);
                    }
                }
            });
        },false)
    });

    function to_page(pn) {
        $.ajax({
            url: "/epubBook/allmanager",
            data: "pn=" + pn,
            type: "POST",
            success: function (result) {
                if (result.code==200){
                    window.location.href = "/epubBook/views/login.html";
                }
                else {
                    //1.解析并显示管理员
                    build_all_managers(result);
                    //2.解析并显示分页信息
                    build_page_info(result);
                    //3.解析显示分页条
                    build_page_nav(result);
                }
            }
        });
    }

    function build_all_managers(result) {
        $("#manager_table tbody").empty();
        var managers = result.extend.pageInfo.list;
        $.each(managers, function (index, item) {
            var userid = $("<td></td>").append(item.userid);
            var username = $("<td></td>").append(item.username);
            var delBtn = $("<button></button>").addClass(
                "btn btn-danger btn-sm delete_btn").append(
                $("<span></span>")
                    .addClass("glyphicon glyphicon-trash")).append(
                "删除");
            //为删除按钮添加一个自定义属性，来表示员工id
            delBtn.attr("del-id", item.userid);
            //append方法执行完成以后还是返回原来的元素
            $("<tr></tr>").append(userid).append(username).append(
                delBtn).appendTo("#manager_table tbody");
        });
    }

    function reset_form(ele) {
        $(ele)[0].reset();
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //Jquery使用on为ajax请求刷出的删除按钮绑定点击事件
    $(document).on("click", ".delete_btn", function () {
        //1.弹出确认是否删除对话框
        var userid = $(this).attr("del-id");
        if (confirm("确认删除[" + userid + "]吗?")) {
            //确认发送ajax请求删除即可
            $.ajax({
                url: "/epubBook/deletemanager",
                data: "userid=" + userid,
                type: "POST",
                success: function (result) {
                    if (result.code==100){
                        alert("删除成功");
                    }
                    else alert("删除失败");
                    to_page(currentPage);
                }
            });
        }
    });

    //解析显示分页信息
    function build_page_info(result) {
        //填充分页信息前先清空数据
        $("#page_info_area").empty();
        $("#page_info_area").append(
            "当前" + result.extend.pageInfo.pageNum + "页,总"
            + result.extend.pageInfo.pages + "页,总"
            + result.extend.pageInfo.total + "条记录");
        totalRecord = result.extend.pageInfo.total;
        currentPage = result.extend.pageInfo.pageNum;
    }

    //解析显示分页条
    function build_page_nav(result) {
        //填充分页条前先清空数据
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination")
        var firstPageLi = $("<li></li>").append(
            $("<a></a>").append("首页").attr("herf", "#"));
        var prePageLi = $("<li></li>").append(
            $("<a></a>").append("&laquo;"));
        if (result.extend.pageInfo.hasPreviousPage == false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            firstPageLi.click(function () {
                to_page(1);
            });
            prePageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum - 1);
            });
        }
        ul.append(firstPageLi).append(prePageLi);
        $.each(result.extend.pageInfo.navigatepageNums,
            function (index, item) {
                var numLi = $("<li></li>").append($("<a></a>").append(item));
                if (result.extend.pageInfo.pageNum == item) {
                    numLi.addClass("active");
                }
                numLi.click(function () {
                    to_page(item);
                });
                ul.append(numLi);
            });
        var nextPageLi = $("<li></li>").append(
            $("<a></a>").append("&raquo;"));
        var lastPageLi = $("<li></li>").append(
            $("<a></a>").append("末页").attr("herf", "#"));
        if (result.extend.pageInfo.hasNextPage == false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            nextPageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum + 1);
            });
            lastPageLi.click(function () {
                to_page(result.extend.pageInfo.pages);
            });
        }
        ul.append(nextPageLi).append(lastPageLi);
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }
</script>
</body>
</html>