<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        .booksdiv {
            height: 350px;
            width: 250px;
            float: left;
            margin-left: 100px;
            margin-bottom: 20px;
            margin-top: 20px;
            box-shadow: 1px 1px 2px #215;
            overflow: auto;
        }

        .booksdiv:hover {
            box-shadow: 2px 4px 6px #215;
        }

        .booksa {
            text-decoration: none;
            color: #000;
        }

        .booksa:hover {
            text-decoration: none;
            color: #000;
        }

        .booksimg {
            width: 250px;
            height: 250px;
            padding: 5px;
        }

        .booksp {
            margin: 0px;
            padding-left: 5px;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row" style="background: #c1e2b3">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation" class="active"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/allposts.html">读书笔记</a></li>
                <li role="presentation"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>

    <div class="row" id="allbooks"></div>

    <div class="row">
        <div class="col-md-6" id="page_nav_area"></div>
        <div class="col-md-6" id="page_info_area"
             style="padding: 20px; font-size: 18px;"></div>
    </div>
</div>
<script type="text/javascript">
    var totalRecord;
    var currentPage;
    $(function() {
        to_page(1);
    });
    function to_page(pn) {
        $.ajax({
            url : "/epubBook/getbookswithtype",
            data : "pn=" + pn + "&typeid=" + 2,
            type : "GET",
            success : function(result) {
                //1.解析并显示中国文学书籍
                build_all_books(result);
                //2.解析并显示分页信息
                build_page_info(result);
                //3.解析显示分页条
                build_page_nav(result);
            }
        });
    }
    function build_all_books(result) {
        $("#allbooks").empty();
        var books = result.extend.pageInfo.list;
        $.each(books, function(index, item) {
            var booksa = $("<a></a>").prop("href",
                "/epubBook/views/readbook.html?bookid=" + item.bookid).addClass("booksa");
            if (item.img == null||item.img.length == 0) {
                var booksimg = $("<img>").addClass("booksimg").prop("src",
                    "/epubBook/images/imgdefault.png").appendTo(booksa);
            } else {
                var booksimg = $("<img>").addClass("booksimg").prop("src",
                    "/epubBook/images/" + item.img).appendTo(booksa);
            }
            var booktype = $("<p></p>").append(item.type.typename)
                .addClass("booksp").appendTo(booksa);
            var bookname = $("<p></p>").append(item.bookname)
                .addClass("booksp").appendTo(booksa);
            var author = $("<p></p>").append(item.author)
                .addClass("booksp").appendTo(booksa);
            var booksdiv = $("<div></div>").addClass("booksdiv").append(
                booksa).appendTo("#allbooks");
        });
    }
    //解析显示分页信息
    function build_page_info(result) {
        //填充分页信息前先清空数据
        $("#page_info_area").empty();
        $("#page_info_area").append(
            "当前" + result.extend.pageInfo.pageNum + "页,总"
            + result.extend.pageInfo.pages + "页,总"
            + result.extend.pageInfo.total + "条记录");
        totalRecord = result.extend.pageInfo.total;
        currentPage = result.extend.pageInfo.pageNum;
    }
    //解析显示分页条
    function build_page_nav(result) {
        //填充分页条前先清空数据
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination")
        var firstPageLi = $("<li></li>").append(
            $("<a></a>").append("首页").attr("herf", "#"));
        var prePageLi = $("<li></li>").append(
            $("<a></a>").append("&laquo;"));
        if (result.extend.pageInfo.hasPreviousPage == false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            firstPageLi.click(function() {
                to_page(1);
            });
            prePageLi.click(function() {
                to_page(result.extend.pageInfo.pageNum - 1);
            });
        }
        ul.append(firstPageLi).append(prePageLi);
        $.each(result.extend.pageInfo.navigatepageNums, function(index,
                                                                 item) {
            var numLi = $("<li></li>").append($("<a></a>").append(item));
            if (result.extend.pageInfo.pageNum == item) {
                numLi.addClass("active");
            }
            numLi.click(function() {
                to_page(item);
            });
            ul.append(numLi);
        });
        var nextPageLi = $("<li></li>").append(
            $("<a></a>").append("&raquo;"));
        var lastPageLi = $("<li></li>").append(
            $("<a></a>").append("末页").attr("herf", "#"));
        if (result.extend.pageInfo.hasNextPage == false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            nextPageLi.click(function() {
                to_page(result.extend.pageInfo.pageNum + 1);
            });
            lastPageLi.click(function() {
                to_page(result.extend.pageInfo.pages);
            });
        }
        ul.append(nextPageLi).append(lastPageLi);
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }
</script>
</body>
</html>