<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        .desc{
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .booksa {
            text-decoration: none;
            color: #000;
        }
        .booksa:hover {
            text-decoration: none;
            color: #000;
        }
        .booksimg {
            width: 150px;
            height: 200px;
            padding: 5px;
        }
    </style>
</head>

<body>
<div class="modal fade" id="bookUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">书籍信息修改</h4>
            </div>
            <div class="modal-body">
                <form id="updatebookform" class="form-horizontal"
                      method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">书名</label>
                        <div class="col-sm-10">
                            <input type="text" name="bookname" class="form-control" id="bookname_update">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">作者</label>
                        <div class="col-sm-10">
                            <input type="text" name="author" class="form-control" id="author_update">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">简述</label>
                        <div class="col-sm-10">
                            <input type="text" name="description" class="form-control" id="description_update">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片</label>
                        <div class="col-md-10">
                            <input type="file" name="imgfile" class="form-control" id="imgfile">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类别</label>
                        <div class="col-sm-6">
                            <!--部门提交部门id即可-->
                            <select class="form-control" name="booktypeid">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="book_update_btn">更新</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="background: #c1e2b3">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/allposts.html">读书笔记</a></li>
                <li role="presentation" class="active"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped" id="books_table">
                <thead>
                <tr>
                    <th class="col-md-1">编号</th>
                    <th class="col-md-2">图片</th>
                    <th class="col-md-2">书名</th>
                    <th class="col-md-2">作者</th>
                    <th class="col-md-2">描述</th>
                    <th class="col-md-1">类别</th>
                    <th class="col-md-2">操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="page_nav_area"></div>
        <div class="col-md-6" id="page_info_area"
             style="padding: 20px; font-size: 18px;"></div>
    </div>
</div>
<script type="text/javascript">
    var totalRecord;
    var currentPage;
    $(function () {
        to_page(1);
    });

    function to_page(pn) {
        $.ajax({
            url: "/epubBook/getbooks",
            data: "pn=" + pn,
            type: "GET",
            success: function (result) {
                //1.解析并显示书籍
                build_all_books(result);
                //2.解析并显示分页信息
                build_page_info(result);
                //3.解析显示分页条
                build_page_nav(result);
            }
        });
    }

    function build_all_books(result) {
        $("#books_table tbody").empty();
        var books = result.extend.pageInfo.list;
        $.each(books, function (index, item) {
            var booksa = $("<a></a>").prop("href",
                "/epubBook/views/readbook.html?bookid=" + item.bookid).addClass("booksa");
            var booksimg;
            if (item.img == null||item.img.length == 0) {
                booksimg = $("<img>").addClass("booksimg").prop("src",
                    "/epubBook/images/imgdefault.png").appendTo(booksa);
            } else {
                booksimg = $("<img>").addClass("booksimg").prop("src",
                    "/epubBook/images/" + item.img).appendTo(booksa);
            }
            var tdbookid = $("<td></td>").append(item.bookid);
            var tdbookimg = $("<td></td>").append(booksa);
            var pbookname = $("<p></p>").append(item.bookname).addClass("desc");
            var tdbookname = $("<td></td>").append(pbookname);
            var pauthor = $("<p></p>").append(item.author).addClass("desc");
            var tdauthor = $("<td></td>").append(pauthor);
            var pdescription = $("<p></p>").append(item.description).addClass("desc");
            var tddescription = $("<td></td>").append(pdescription);
            var tdbooktype = $("<td></td>").append(item.type.typename);
            var editBtn = $("<button></button>").addClass(
                "btn btn-primary btn-sm edit_btn").append(
                $("<span></span>").addClass(
                    "glyphicon glyphicon-pencil")).append("编辑");
            //为编辑按钮添加一个自定义属性，来表示bookid
            editBtn.attr("edit-id", item.bookid);
            var delBtn = $("<button></button>").addClass(
                "btn btn-danger btn-sm delete_btn").append(
                $("<span></span>")
                    .addClass("glyphicon glyphicon-trash")).append(
                "删除");
            //为删除按钮添加一个自定义属性，来表示bookid
            delBtn.attr("del-id", item.bookid);
            var btnTd = $("<td></td>").append(editBtn).append(" ").append(
                delBtn);
            $("<tr></tr>").append(tdbookid).append(tdbookimg).append(tdbookname).append(
                tdauthor).append(tddescription).append(tdbooktype).append(
                btnTd).appendTo("#books_table tbody");
        });
    }

    function getTypes(ele) {
        $(ele).empty();
        $.ajax({
            url : "/epubBook/getbooktype",
            type : "GET",
            success : function(result) {
                $.each(result.extend.types, function() {
                    var optionEle = $("<option></option>").append(
                        this.typename).attr("value", this.typeid);
                    optionEle.appendTo(ele);
                });
            }
        });
    }

    function getbook(bookid) {
        $.ajax({
            url: "/epubBook/getbookbyid",
            type: "GET",
            data: "bookid=" + bookid,
            success: function (result) {
                var book = result.extend.book;
                $("#bookname_update").val(book.bookname);
                $("#author_update").val(book.author);
                $("#description_update").val(book.description);
                $("#bookUpdateModal select").val([book.booktypeid]);
            }
        });
    }

    //清空表单样式及内容
    function reset_form(ele) {
        $(ele)[0].reset();
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    var book_update_btn = document.getElementById("book_update_btn");
    book_update_btn.addEventListener("click", function () {
        document.getElementById("updatebookform").submit();
    }, false);

    //Jquery使用on为ajax请求刷出的编辑按钮绑定点击事件
    $(document).on("click", ".edit_btn", function () {
        //1.先清除模态框表单数据
        reset_form("#bookUpdateModal form");
        //2.查出员工信息,显示员工信息
        getbook($(this).attr("edit-id"));
        //3.查出部门信息,显示部门列表
        getTypes("#bookUpdateModal select");
        //4.把员工的id传递给模态框的更新按钮
        var id = $(this).attr("edit-id");
        document.getElementById("updatebookform").action = "/epubBook/updatebook/"+id;
        $("#bookUpdateModal").modal({
            backdrop: "static"
        });
    });

    //Jquery使用on为ajax请求刷出的删除按钮绑定点击事件
    $(document).on("click", ".delete_btn", function () {
        //1.弹出确认是否删除对话框
        var deleteid = $(this).attr("del-id");
        if (confirm("确认删除[" + deleteid + "]吗?")) {
            //确认发送ajax请求删除即可
            $.ajax({
                url: "/epubBook/deletebook",
                data: "bookid=" + deleteid,
                type: "POST",
                success: function (result) {
                    if (result.code==100){
                        alert("删除成功");
                    }
                    else alert("删除失败");
                    to_page(currentPage);
                }
            });
        }
    });

    //解析显示分页信息
    function build_page_info(result) {
        //填充分页信息前先清空数据
        $("#page_info_area").empty();
        $("#page_info_area").append(
            "当前" + result.extend.pageInfo.pageNum + "页,总"
            + result.extend.pageInfo.pages + "页,总"
            + result.extend.pageInfo.total + "条记录");
        totalRecord = result.extend.pageInfo.total;
        currentPage = result.extend.pageInfo.pageNum;
    }

    //解析显示分页条
    function build_page_nav(result) {
        //填充分页条前先清空数据
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination")
        var firstPageLi = $("<li></li>").append(
            $("<a></a>").append("首页").attr("herf", "#"));
        var prePageLi = $("<li></li>").append(
            $("<a></a>").append("&laquo;"));
        if (result.extend.pageInfo.hasPreviousPage == false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            firstPageLi.click(function () {
                to_page(1);
            });
            prePageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum - 1);
            });
        }
        ul.append(firstPageLi).append(prePageLi);
        $.each(result.extend.pageInfo.navigatepageNums,
            function (index, item) {
                var numLi = $("<li></li>").append($("<a></a>").append(item));
                if (result.extend.pageInfo.pageNum == item) {
                    numLi.addClass("active");
                }
                numLi.click(function () {
                    to_page(item);
                });
                ul.append(numLi);
            });
        var nextPageLi = $("<li></li>").append(
            $("<a></a>").append("&raquo;"));
        var lastPageLi = $("<li></li>").append(
            $("<a></a>").append("末页").attr("herf", "#"));
        if (result.extend.pageInfo.hasNextPage == false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            nextPageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum + 1);
            });
            lastPageLi.click(function () {
                to_page(result.extend.pageInfo.pages);
            });
        }
        ul.append(nextPageLi).append(lastPageLi);
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }
</script>
</body>
</html>