<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        .fourdivmid{
            width: 300px;
            height: 300px;
            box-shadow: 1px 1px 2px #215;
            border-radius: 10%;
        }
        .fourdivin{
            font-size: xx-large;
            width: 300px;
            height: 300px;
            padding: 20px;
            border-radius: 10%;
        }
        .fourdivmid:hover{
            box-shadow: 1px 1px 6px #215;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row" style="background: #c1e2b3">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"  class="active"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top: 20px;padding-right: 40px">
            <div class="fourdivmid" style="float: right;">
                <a href="/epubBook/views/mybook.html" style="text-decoration: none">
                    <div class="fourdivin">已读书籍</div>
                </a>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 20px;padding-left: 40px">
            <div class="fourdivmid">
                <a href="/epubBook/views/addbook.html" style="text-decoration: none">
                    <div class="fourdivin">添加书籍</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top: 20px;padding-right: 40px">
            <div class="fourdivmid" style="float: right;">
                <a href="/epubBook/views/mypost.html" style="text-decoration: none">
                    <div class="fourdivin">我的笔记</div>
                </a>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 20px;padding-left: 40px">
            <div class="fourdivmid">
                <a href="/epubBook/views/addpost.html" style="text-decoration: none">
                    <div class="fourdivin">添加笔记</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="padding-top: 20px;padding-right: 40px">
            <div class="fourdivmid" style="float: right;">
                <a href="/epubBook/views/changepw.html" style="text-decoration: none">
                    <div class="fourdivin">修改密码</div>
                </a>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 20px;padding-left: 40px">
            <div class="fourdivmid">
                <a href="/epubBook/views/logout.html" style="text-decoration: none">
                    <div class="fourdivin">用户注销</div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div id="colmd6left">
            <div id="sixdivmidleft">
                <a id="managebook">
                    <div id="sixdivinleft"></div>
                </a>
            </div>
        </div>
        <div id="colmd6right">
            <div id="sixdivmidright">
                <a id="managepost">
                    <div id="sixdivinright"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        checkUser();
    });
    function checkUser() {
        $.ajax({
            url: "/epubBook/mydomain",
            type: "GET",
            success: function (result) {
                if (result.code!=100){
                    window.location.href = "/epubBook/views/login.html";
                }
                else{
                    checkStatus();
                }
            }
        });
    }
    function checkStatus() {
        $.ajax({
            url: "/epubBook/getstatus",
            type: "GET",
            success: function (result) {
                if (result.code==100) {
                    if (result.extend.statusid == 1) {
                        $("#colmd6left").addClass("col-md-6").css("padding-top", "20px").css("padding-right","40px");
                        $("#sixdivmidleft").addClass("fourdivmid").css("float", "right");
                        $("#managebook").prop("href", "/epubBook/views/managebook.html").css("text-decoration", "none");
                        $("#sixdivinleft").addClass("fourdivin").text("书籍管理");
                        $("#colmd6right").addClass("col-md-6").css("padding-top", "20px").css("padding-left","40px");
                        $("#sixdivmidright").addClass("fourdivmid");
                        $("#managepost").prop("href", "#").css("text-decoration", "none");
                        $("#sixdivinright").addClass("fourdivin").text("人员管理");
                    }
                }
                else {
                    window.location.href = "/epubBook/views/login.html";
                }
            }
        });
    }
</script>
</body>
</html>