<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        .postb {
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 50px;
        }

        .postlink {
            text-decoration: none;
            color: #000;
        }

        .postitem {
            margin-top: 20px;
            box-shadow: 0px 0px 3px #215;
            border-radius: 5px;
            padding: 10px;
        }

        .postitem:hover {
            box-shadow: 0px 1px 6px #215;
        }

        .posttitle {
            font-size: 18px;
            font-weight: bold;
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .rightcol {
            margin-top: 10px;
        }

        .delete_btn {
            margin-left: 10px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row" style="box-shadow: 1px 2px 3px #99c;border-radius: 2px">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="font-size: 18px;">
                    友情链接 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="font-size: 18px">
                    <li><a href="http://e.dangdang.com/">当当云阅读</a></li>
                    <li><a href="https://yuedu.163.com/">网易云阅读</a></li>
                    <li><a href="http://epubjs.org/documentation/0.3/#epubjs">epub.js API</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://www.wangeditor.com/">wangEditor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills" style="margin-top: 2px;margin-bottom: 2px">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/allposts.html">读书笔记</a></li>
                <li role="presentation" class="active"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row" style="margin-top: 20px">
                <p style="font-size: large">我的笔记</p>
            </div>
            <hr style="margin: 10px"/>
            <div class="row" id="allposts"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="page_nav_area"></div>
        <div class="col-md-6" id="page_info_area"
             style="padding: 20px; font-size: 18px;"></div>
    </div>
</div>
<script type="text/javascript">
    var totalRecord;
    var currentPage;
    $(function () {
        to_page(1);
    });

    function to_page(pn) {
        $.ajax({
            url: "/epubBook/myposts",
            data: "pn=" + pn,
            type: "POST",
            success: function (result) {
                if (result.code == 200) {
                    window.location.href = "/epubBook/views/login.html";
                } else {
                    //1.解析并显示帖子
                    build_all_posts(result);
                    //2.解析并显示分页信息
                    build_page_info(result);
                    //3.解析显示分页条
                    build_page_nav(result);
                }
            }
        });
    }

    function build_all_posts(result) {
        $("#allposts").empty();
        var posts = result.extend.pageInfo.list;
        $.each(posts, function (index, item) {
            var postsa = $("<a></a>").prop("href",
                "/epubBook/views/readpost.html?postid=" + item.postid).addClass("postlink");
            var divr = $("<div></div>").addClass("row postitem");
            var leftcol = $("<div></div>").addClass("col-md-10");
            var posttitle = $("<div></div>").append(item.posttitle).addClass("posttitle");
            var postbody = $("<div></div>").append(item.postbody).addClass("postb");
            posttitle.appendTo(leftcol);
            postbody.appendTo(leftcol);
            leftcol.appendTo(postsa);
            var rightcol = $("<div></div>").addClass("col-md-2 rightcol");
            var updatebtn = $("<button></button>").addClass(
                "btn btn-primary btn-sm edit_btn").append(
                $("<span></span>").addClass(
                    "glyphicon glyphicon-pencil")).append("编辑");
            updatebtn.attr("edit-id", item.postid);
            var deletebtn = $("<button></button>").addClass(
                "btn btn-danger btn-sm delete_btn").append(
                $("<span></span>")
                    .addClass("glyphicon glyphicon-trash")).append(
                "删除");
            deletebtn.attr("del-id", item.postid);
            updatebtn.appendTo(rightcol);
            deletebtn.appendTo(rightcol);
            var allposts = $("#allposts");
            postsa.appendTo(divr);
            rightcol.appendTo(divr);
            divr.appendTo(allposts);
        });
    }

    //Jquery使用on为ajax请求刷出的编辑按钮绑定点击事件
    $(document).on("click", ".edit_btn", function () {
        var id = $(this).attr("edit-id");
        window.location.href = "/epubBook/views/updatepost.html?postid=" + id;
    });

    //Jquery使用on为ajax请求刷出的删除按钮绑定点击事件
    $(document).on("click", ".delete_btn", function () {
        //1.弹出确认是否删除对话框
        var postid = $(this).attr("del-id");
        if (confirm("确认删除[" + postid + "]吗?")) {
            //确认发送ajax请求删除即可
            $.ajax({
                url: "/epubBook/deletepost",
                data: "postid=" + postid,
                type: "POST",
                success: function (result) {
                    if (result.code == 100) {
                        alert("删除成功");
                    } else alert("删除失败");
                    to_page(currentPage);
                }
            });
        }
    });

    //解析显示分页信息
    function build_page_info(result) {
        //填充分页信息前先清空数据
        $("#page_info_area").empty();
        $("#page_info_area").append(
            "当前" + result.extend.pageInfo.pageNum + "页,总"
            + result.extend.pageInfo.pages + "页,总"
            + result.extend.pageInfo.total + "条记录");
        totalRecord = result.extend.pageInfo.total;
        currentPage = result.extend.pageInfo.pageNum;
    }

    //解析显示分页条
    function build_page_nav(result) {
        //填充分页条前先清空数据
        $("#page_nav_area").empty();
        var ul = $("<ul></ul>").addClass("pagination")
        var firstPageLi = $("<li></li>").append(
            $("<a></a>").append("首页").attr("herf", "#"));
        var prePageLi = $("<li></li>").append(
            $("<a></a>").append("&laquo;"));
        if (result.extend.pageInfo.hasPreviousPage == false) {
            firstPageLi.addClass("disabled");
            prePageLi.addClass("disabled");
        } else {
            firstPageLi.click(function () {
                to_page(1);
            });
            prePageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum - 1);
            });
        }
        ul.append(firstPageLi).append(prePageLi);
        $.each(result.extend.pageInfo.navigatepageNums,
            function (index, item) {
                var numLi = $("<li></li>").append($("<a></a>").append(item));
                if (result.extend.pageInfo.pageNum == item) {
                    numLi.addClass("active");
                }
                numLi.click(function () {
                    to_page(item);
                });
                ul.append(numLi);
            });
        var nextPageLi = $("<li></li>").append(
            $("<a></a>").append("&raquo;"));
        var lastPageLi = $("<li></li>").append(
            $("<a></a>").append("末页").attr("herf", "#"));
        if (result.extend.pageInfo.hasNextPage == false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            nextPageLi.click(function () {
                to_page(result.extend.pageInfo.pageNum + 1);
            });
            lastPageLi.click(function () {
                to_page(result.extend.pageInfo.pages);
            });
        }
        ul.append(nextPageLi).append(lastPageLi);
        var navEle = $("<nav></nav>").append(ul);
        navEle.appendTo("#page_nav_area");
    }
</script>
</body>
</html>