<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>cloud read</title>
    <script type="text/javascript" src="/epubBook/static/js/jquery-3.4.1.min.js"></script>
    <link href="/epubBook/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/epubBook/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <style type="text/css">
        pre {
            white-space: pre-wrap;
            font-size: 18px;
        }

        .rrdiv {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<!-- 评论添加的模态框 -->
<div class="modal fade" id="commentAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">评论添加</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <textarea style="width: 100%;height: 200px"
                                      id="commentbody" name="commentbody"></textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submitcomment">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="box-shadow: 1px 2px 3px #99c;border-radius: 2px">
        <div class="col-md-6" style="font-size: 28px;">
            <span class="glyphicon glyphicon-cloud-download"></span>Cloud Read<span
                class="glyphicon glyphicon-book"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="font-size: 18px;">
                    友情链接 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="font-size: 18px">
                    <li><a href="http://e.dangdang.com/">当当云阅读</a></li>
                    <li><a href="https://yuedu.163.com/">网易云阅读</a></li>
                    <li><a href="http://epubjs.org/documentation/0.3/#epubjs">epub.js API</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://www.wangeditor.com/">wangEditor</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills" style="margin-top: 2px;margin-bottom: 2px">
                <li role="presentation"><a href="/epubBook/index.html">首页</a></li>
                <li role="presentation"><a href="/epubBook/views/sciandtech.html">科学技术</a></li>
                <li role="presentation"><a href="/epubBook/views/cnliterature.html">中国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/frliterature.html">外国文学</a></li>
                <li role="presentation"><a href="/epubBook/views/allposts.html">读书笔记</a></li>
                <li role="presentation"><a href="/epubBook/views/mydomain.html">个人中心</a></li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-10" id="posttitle" style="font-size: 24px"></div>
        <div class="col-md-2">
            <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-default btn-md comment_btn" id="commentbtn">
                    <span class="glyphicon glyphicon-pencil" style="font-size: 18px">评论</span>
                </button>
                <button type="button" class="btn btn-default" id="goback">
                    <span class="glyphicon glyphicon-log-out" style="font-size: 18px">返回</span>
                </button>
            </div>

        </div>
    </div>
    <hr/>
    <div class="row">
        <p id="postbody" style="font-size: 18px"></p>
    </div>
    <hr style="margin: 2px;"/>
    <div class="row" style="font-size: 20px">用户评论</div>
    <div class="col-md-10" id="commentsdiv"></div>
</div>
<script type="text/javascript">
    var id;
    $(function () {
        id = UrlParam.paramValues("postid");
        getpost(id);
        getcomment(id);
        var submitcomment = document.getElementById("submitcomment");
        submitcomment.addEventListener("click", function () {
            var id = $("#submitcomment").attr("post-id");
            var commentbody = $("#commentbody").val();
            $.ajax({
                url: "/epubBook/addcomment",
                type: "POST",
                data: "commentpostid=" + id + "&commentbody=" + commentbody,
                success(result) {
                    $("#commentAddModal").modal('hide');
                    if (result.code == 200) {
                        alert(result.extend.wrong);
                    } else {
                        to_page(currentPage);
                    }
                }
            })
        }, false);
    });
    $("#commentbtn").click(function () {
        reset_form("#commentAddModal form");
        $("#submitcomment").attr("post-id", id);
        $("#commentAddModal").modal({
            backdrop: "static"
        });
    });

    $("#goback").click(function () {
        window.location="/epubBook/views/mypost.html"
    });

    function getcomment(id) {
        $.ajax({
            url: "/epubBook/getcomment",
            data: "postid=" + id,
            type: "POST",
            success: function (result) {
                var comments = result.extend.list;
                var commentsdiv = $("#commentsdiv");
                $.each(comments, function (index, item) {
                    var rdiv = $("<div></div>").addClass("row");
                    var coldiv1 = $("<div></div>").addClass("col-md-1");
                    coldiv1.append(index);
                    coldiv1.appendTo(rdiv);
                    var coldiv2 = $("<div></div>").addClass("col-md-11");
                    var commentbody = $("<pre></pre>").append(item.commentbody);
                    commentbody.appendTo(coldiv2);
                    coldiv2.appendTo(rdiv);
                    var hr = $("<hr/>").css("margin", "2px");
                    var rrdiv = $("<div></div>").addClass("row rrdiv");
                    rdiv.appendTo(rrdiv);
                    hr.appendTo(rrdiv);
                    rrdiv.appendTo(commentsdiv);
                });
            }
        })
    }

    function getpost(id) {
        $.ajax({
            url: "/epubBook/getpost",
            data: "postid=" + id,
            type: "POST",
            success: function (result) {
                $("#posttitle").append(result.extend.post.posttitle);
                $("#postbody").append(result.extend.post.postbody);
            }
        })
    }

    function reset_form(ele) {
        $(ele)[0].reset();
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    UrlParam = function () { // url参数
        var data, index;
        (function init() {
            data = []; //值，如[["1","2"],["zhangsan"],["lisi"]]
            index = {}; //键:索引，如{a:0,b:1,c:2}
            var u = window.location.search.substr(1);
            if (u != '') {
                var params = decodeURIComponent(u).split('&');
                for (var i = 0, len = params.length; i < len; i++) {
                    if (params[i] != '') {
                        var p = params[i].split("=");
                        if (p.length == 1 || (p.length == 2 && p[1] == '')) {// p | p= | =
                            data.push(['']);
                            index[p[0]] = data.length - 1;
                        } else if (typeof (p[0]) == 'undefined'
                            || p[0] == '') { // =c 舍弃
                            continue;
                        } else if (typeof (index[p[0]]) == 'undefined') { // c=aaa
                            data.push([p[1]]);
                            index[p[0]] = data.length - 1;
                        } else {// c=aaa
                            data[index[p[0]]].push(p[1]);
                        }
                    }
                }
            }
        })();
        return {
            // 获得参数,类似request.getParameter()
            param: function (o) { // o: 参数名或者参数次序
                try {
                    return (typeof (o) == 'number' ? data[o][0]
                        : data[index[o]][0]);
                } catch (e) {
                }
            },
            //获得参数组, 类似request.getParameterValues()
            paramValues: function (o) { // o: 参数名或者参数次序
                try {
                    return (typeof (o) == 'number' ? data[o]
                        : data[index[o]]);
                } catch (e) {
                }
            },
            //是否含有paramName参数
            hasParam: function (paramName) {
                return typeof (paramName) == 'string' ? typeof (index[paramName]) != 'undefined'
                    : false;
            },
            // 获得参数Map ,类似request.getParameterMap()
            paramMap: function () {
                var map = {};
                try {
                    for (var p in index) {
                        map[p] = data[index[p]];
                    }
                } catch (e) {
                }
                return map;
            }
        }
    }();
</script>
</body>
</html>