<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruce.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.bruce.bean.Comment">
    <id column="commentId" jdbcType="INTEGER" property="commentid" />
    <result column="commentBody" jdbcType="VARCHAR" property="commentbody" />
    <result column="commentUserId" jdbcType="INTEGER" property="commentuserid" />
    <result column="commentPostId" jdbcType="INTEGER" property="commentpostid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    commentId, commentBody, commentUserId, commentPostId
  </sql>
  <select id="selectByExample" parameterType="com.bruce.bean.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bruce.bean.CommentExample">
    delete from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bruce.bean.Comment">
    insert into comment (commentId, commentBody, commentUserId, 
      commentPostId)
    values (#{commentid,jdbcType=INTEGER}, #{commentbody,jdbcType=VARCHAR}, #{commentuserid,jdbcType=INTEGER}, 
      #{commentpostid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bruce.bean.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        commentId,
      </if>
      <if test="commentbody != null">
        commentBody,
      </if>
      <if test="commentuserid != null">
        commentUserId,
      </if>
      <if test="commentpostid != null">
        commentPostId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="commentbody != null">
        #{commentbody,jdbcType=VARCHAR},
      </if>
      <if test="commentuserid != null">
        #{commentuserid,jdbcType=INTEGER},
      </if>
      <if test="commentpostid != null">
        #{commentpostid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bruce.bean.CommentExample" resultType="java.lang.Long">
    select count(*) from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment
    <set>
      <if test="record.commentid != null">
        commentId = #{record.commentid,jdbcType=INTEGER},
      </if>
      <if test="record.commentbody != null">
        commentBody = #{record.commentbody,jdbcType=VARCHAR},
      </if>
      <if test="record.commentuserid != null">
        commentUserId = #{record.commentuserid,jdbcType=INTEGER},
      </if>
      <if test="record.commentpostid != null">
        commentPostId = #{record.commentpostid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment
    set commentId = #{record.commentid,jdbcType=INTEGER},
      commentBody = #{record.commentbody,jdbcType=VARCHAR},
      commentUserId = #{record.commentuserid,jdbcType=INTEGER},
      commentPostId = #{record.commentpostid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bruce.bean.Comment">
    update comment
    <set>
      <if test="commentbody != null">
        commentBody = #{commentbody,jdbcType=VARCHAR},
      </if>
      <if test="commentuserid != null">
        commentUserId = #{commentuserid,jdbcType=INTEGER},
      </if>
      <if test="commentpostid != null">
        commentPostId = #{commentpostid,jdbcType=INTEGER},
      </if>
    </set>
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bruce.bean.Comment">
    update comment
    set commentBody = #{commentbody,jdbcType=VARCHAR},
      commentUserId = #{commentuserid,jdbcType=INTEGER},
      commentPostId = #{commentpostid,jdbcType=INTEGER}
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
</mapper>